$text-color-white: #f8f8fa; //#E5E7EE;
$primary-color: #18181a; //#6B5ECD;
$primary-button: #2563eb;
$primary-button-contrast-color: #93c5fd;
$primary-contrast-color: #2a2a2a;
$primary-text-color: #cc8a02;
$text-error-color: #cd5e5e;
$hover-color: #1e40af;
$white: #ffffff;
$border-soft-color: #ededed;
$text-color-strong: #282828;
$text-color-soft: #656867;
