@use "./../../styles/index" as index;

mat-form-field {
  width: 100%;

  // color
  ::ng-deep .mat-mdc-select-value {
    color: index.$text-color-strong !important; // Añade !important si es necesario
  }

  ::ng-deep .mdc-floating-label {
    color: index.$text-color-soft;
  }

  ::ng-deep.mdc-text-field--invalid .mdc-floating-label {
    color: index.$text-error-color !important; // Tu color de error (ej. rojo)
  }

  ::ng-deep
    .mdc-text-field--outlined
    .mdc-notched-outline
    .mdc-notched-outline__leading {
    border-radius: 12px 0 0 12px !important;
  }

  ::ng-deep
    .mdc-text-field--outlined
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-radius: 0 12px 12px 0 !important;
  }

  ::ng-deep.mdc-text-field--focused:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-floating-label {
    color: index.$primary-contrast-color;
  }

  ::ng-deep.mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__leading,
  ::ng-deep.mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__notch,
  ::ng-deep.mdc-text-field--outlined:not(
      .mdc-text-field--disabled
    ).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: var(--mdc-theme-primary, index.$primary-contrast-color);
  }

  ::ng-deep
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__leading {
    border-color: index.$border-soft-color;
  }

  ::ng-deep.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__notch {
    border-color: index.$border-soft-color;
  }

  ::ng-deep.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-color: index.$border-soft-color;
  }

  ::ng-deep .mat-select-value {
    color: index.$text-color-strong;
  }
}
