<div class="container">
  <h1>{{ title }}</h1>
  <form [formGroup]="heroForm">
    <app-input
      label="Nombre"
      [control]="heroForm.controls['name']"
      [toUppercase]="true"
    ></app-input>
    <app-input
      label="Historia"
      [control]="heroForm.controls['history']"
    ></app-input>
    <app-select
      label="Categoría"
      [options]="categories"
      [control]="heroForm.controls['category']"
    ></app-select>
    <app-select
      label="Género"
      [options]="genders"
      [control]="heroForm.controls['gender']"
    ></app-select>

    <fieldset class="powers">
      <legend>Poderes</legend>
      @for (power of availablePowers; track power; let i = $index) {
        <div>
          <label>
            <input type="checkbox" [formControl]="getPowersControl(i)" />
            {{ power }}
          </label>
        </div>
      }
    </fieldset>

    <fieldset [formGroupName]="'stats'">
      <legend>Estadísticas</legend>
      <app-input
        label="Fuerza"
        type="number"
        [control]="getControl('stats.strength')"
      ></app-input>
      <app-input
        label="Inteligencia"
        type="number"
        [control]="getControl('stats.intelligence')"
      ></app-input>
      <app-input
        label="Velocidad"
        type="number"
        [control]="getControl('stats.speed')"
      ></app-input>
      <app-input
        label="Durabilidad"
        type="number"
        [control]="getControl('stats.durability')"
      ></app-input>
      <app-input
        label="Defensa"
        type="number"
        [control]="getControl('stats.defense')"
      ></app-input>
      <app-input
        label="Habilidad de combate"
        type="number"
        [control]="getControl('stats.combatSkill')"
      ></app-input>
    </fieldset>
    <label>
      <input type="checkbox" formControlName="isRetired" />
      ¿Está retirado?
    </label>
    <app-image
      (emitImage)="onImageSelected($event)"
      [base64String]="editHero?.image"
    ></app-image>
    <app-button
      [text]="textButton"
      typeButton="primary"
      (confirm)="sendHeroe()"
    ></app-button>
  </form>
</div>
